{% extends 'user_base.html'%}


{% block title %}Studiare - Login{% endblock %}


{% block action %}
    <div class="ml-auto">
        <a href="{% url 'registration' %}"
            class="bg-[#f6d5b4] text-[#582711] text-sm px-4 py-2 rounded-md hover:bg-[#e09247] transition-colors">
            Sign Up
        </a>
    </div>
{% endblock %}

{% block content %} 

    <h2 class="text-3xl font-bold mb-4 text-[#ffffff] text-center">Login</h2>
    <!-- Login Form -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="w-full py-2 mt-8 bg-[#e09247] text-[#582711] text-lg rounded-md hover:bg-[#d68338] transition-colors" type="submit">Login</button>
        <a href="{% url 'landing_page' %}" class="w-full block text-center py-2 mt-4 bg-zinc-500 text-slate-200 text-lg rounded-md hover:bg-zinc-600 transition-colors">Back to Home</a>
    </form>

    <div class="mt-4 text-center text-sm text-black">
        <p class="text-[#ffffff]">Don't have an account? <a href="{% url 'registration' %}" class="text-[#e09247] hover:underline">Sign up here</a></p>
    </div>
    
{% endblock%}



