{% extends 'user_base.html'%}


{% block title %}Studiare - Registration{% endblock %}

{% block action %}
    <div class="ml-auto">
        <a href="{% url 'login' %}"
            class="bg-[#f6d5b4] text-[#582711] text-sm px-4 py-2 rounded-md hover:bg-[#e09247] transition-colors">
            Sign In
        </a>
    </div>
{% endblock %}

{% block content %} 

    <h2 class="text-3xl font-bold mb-4 text-[#232b2b] text-center">Create Account</h2>
    <!-- Registration Form -->
    <form method="post" action="{% url 'registration' %}">
        {% csrf_token %}
        <div class="space-y-4">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="w-full py-2 mt-24 bg-[#e09247] text-[#582711] text-lg rounded-md hover:bg-[#d68338] transition-colors" type="submit">Register</button>
        </form>
        </div>
    </form>

    <div class="mt-4 text-center text-sm text-black">
        <p>Already have an account? <a href="{% url 'login' %}" class="text-[#e09247] hover:underline">Login here</a></p>
    </div>

{% endblock%}
