{% extends 'user_base.html'%}
{% load static %}
{% block title %}Studiare - Password Recovery{% endblock %}


{% block action %}
    <!-- <div class="ml-auto">
        <a href="{% url 'registration' %}"
            class="bg-[#f6d5b4] text-[#582711] text-sm px-4 py-2 rounded-md hover:bg-[#e09247] transition-colors">
            Sign Up
        </a>
    </div> -->
{% endblock %}

{% block content %} 

    <h2 class="text-3xl font-bold mb-4 text-[#ffffff] text-center">Reset Password</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="new_password" class="block text-[#ffffff] mb-2">New Password:</label>
            <input
                type="password"
                id="new_password"
                name="new_password"
                class="w-full p-2 rounded-md text-[#582711]"
                required
            />
        </div>
        <div class="mb-4">
            <label for="confirm_password" class="block text-[#ffffff] mb-2">Confirm Password:</label>
            <input
                type="password"
                id="confirm_password"
                name="confirm_password"
                class="w-full p-2 rounded-md text-[#582711]"
                required
            />
        </div>
        <button
            class="w-full py-2 mt-8 bg-[#e09247] text-[#582711] text-lg rounded-md hover:bg-[#d68338] transition-colors"
            type="submit"
        >
            Reset Password
        </button>
    </form>
    
{% endblock%}