{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>  
    <script src="https://cdn.tailwindcss.com"></script>
    {% block local_css %} {% endblock %}
    <title> {% block title %} {% endblock %}</title>
</head>

<body class="bg-[#F1F1F1] overflow-x-hidden">

    <nav class="bg-[#4a003e] px-4 py-6 sticky top-0 z-10">
        <div class="flex justify-between items-center text-black">
            <div class="flex items-center space-x-4">
                <img src="{% static 'images/stud.png' %}" alt="Studiare Logo" class="h-16">
            </div>

            <div class="flex flex-col text-white sm:flex-row sm:space-x-10 text-center text-sm sm:text-lg w-full sm:w-auto sm:justify-end">
                <a href="{% url 'landing_page' %}" class="py-2 hover:text-[#F7E7CE] transition-colors">Home</a>
                <a href="{% url 'reservation_process' %}" class="py-2 hover:text-[#F7E7CE] transition-colors">Reservation</a>
                <a href="{% url 'about_us' %}" class="py-2 hover:text-[#F7E7CE] transition-colors">About Us</a>
            </div>
    
            <!-- Sign-Up/Login Button -->
            <div class="flex justify-end w-full sm:w-auto mt-4 sm:mt-0">
                <div
                    class="inline-flex items-center bg-[#310029] text-[#FFFFFF] px-4 py-2 sm:px-6 sm:py-3 rounded-full divide-x divide-[#4a003e]">
                    <a href="{% url 'registration' %}"
                        class="px-2 sm:px-4 hover:bg-[#F7E7CE] hover:text-[#4a003e] transition-colors rounded-l-full">
                        Sign Up
                    </a>
                    <a href="{% url 'login' %}"
                        class="px-2 sm:px-4 hover:bg-[#F7E7CE] hover:text-[#4a003e] transition-colors rounded-r-full">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="bg-[#F1F1F1] text-[#f6d5b4] min-h-screen">
        <div class="max-w-md mx-auto mt-20 p-6 bg-[#4a003e] rounded-lg shadow-lg">
            {% block content %} {% endblock %}
        </div>
    </div>

    {% block local_script %} {% endblock %}

    {% load sweetify %}
    {% sweetify %}
</body>

</html>