{% extends "admin_base.html" %} 
{% load static %}

{% block title %} Staff {% endblock %}

{% block content %}
<div class="p-4 flex flex-col flex-wrap gap-4 rounded border-2 border-gray-400">
  <h1 class="text-2xl text-gray-900 font-bold mb-2"><i class="bi bi-person"></i> Personal Information</h1>
  
  <div class="flex gap-2 ">
    <form class="flex-1 rounded border-2 border-gray-400" method="POST">
      {% csrf_token %}
      <div class="p-4 bg-white rounded-lg shadow">
        {{ user_form.as_p }}
        <button type="submit" name="update_info" class="mt-6 px-4 py-2 bg-indigo-500 text-white rounded">Update Information</button>
      </div>
    </form>
  
    <form class="flex-1 rounded border-2 border-gray-400" method="POST">
      {% csrf_token %}
      <div class="p-4 bg-white rounded-lg shadow">
        <h3 class="text-lg font-bold mb-2">Update Password</h3>
        {{ password_form.as_p }}
        <button type="submit" name="update_password" class="mt-6 px-4 py-2 bg-red-500 text-white rounded">Update Password</button>
      </div>
    </form>
  </div>
 
</div>

<div class="p-4 mt-8 flex flex-col flex-wrap gap-4 rounded border-2 border-gray-400">
  <h1 class="text-2xl text-gray-900 font-bold mb-2"><i class="bi bi-people"></i> Staff</h1>
  
  <div>
    <table class="table-auto w-full border-collapse border border-purple-900">
      <thead>
        <tr class="bg-[#4A003E] text-white">
          <th class="border border-gray-300 px-4 py-2 text-left">Full Name</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Position</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Email</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Contact</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Status</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Action</th>
        </tr>
      </thead>
      <tbody>
        {% if staffs %}
          {% for staff in staffs %}
            <!-- Example row -->
            <tr class="hover:bg-gray-100">
              <td class="border border-gray-300 px-4 py-2">{{ staff.first_name }} {{ staff.last_name }}</td>
              <td class="border border-gray-300 px-4 py-2">{{ staff.position }}</td>
              <td class="border border-gray-300 px-4 py-2">{{ staff.email }}</td>
              <td class="border border-gray-300 px-4 py-2">{{ staff.contact_number }}</td>
              <td class="border border-gray-300 px-4 py-2">{{ staff.status }}</td>
              <td class="border border-gray-300 px-4 py-2">
                  <button>Check In</button>
              </td>
          </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="6">You don't have any staffs</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

<div class="p-4 mt-8 flex flex-col flex-wrap gap-4 rounded border-2 border-gray-400">
  <h1 class="text-2xl text-gray-900 font-bold mb-2"><i class="bi bi-border-all"></i> Spaces</h1>

  <div>
    <table class="table-auto w-full border-collapse border border-purple-900">
      <thead>
        <tr class="bg-[#4A003E] text-white">
          <th class="border border-gray-300 px-4 py-2 text-left">Name</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Type</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Seats</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Time In</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Time Out</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Running time</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Status</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- Example row -->
        <tr class="hover:bg-gray-100">
          <td class="border border-gray-300 px-4 py-2">Study Room A</td>
          <td class="border border-gray-300 px-4 py-2">Round</td>
          <td class="border border-gray-300 px-4 py-2">4</td>
          <td class="border border-gray-300 px-4 py-2">4</td>
          <td class="border border-gray-300 px-4 py-2">4</td>
          <td class="border border-gray-300 px-4 py-2">4</td>
          <td class="border border-gray-300 px-4 py-2">Available</td>
          <td class="border border-gray-300 px-4 py-2">
              <button>Check In</button>
          </td>
      </tr>
        <tr class="hover:bg-gray-100">
          <td class="border border-gray-300 px-4 py-2">Long Table</td>
          <td class="border border-gray-300 px-4 py-2">Rectangular Table</td>
          <td class="border border-gray-300 px-4 py-2">80</td>
          <td class="border border-gray-300 px-4 py-2">80</td>
          <td class="border border-gray-300 px-4 py-2">80</td>
          <td class="border border-gray-300 px-4 py-2">80</td>
          <td class="border border-gray-300 px-4 py-2">Occupied</td>
          <td class="border border-gray-300 px-4 py-2">
              <button>Check Out</button>
          </td>
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>
</div>

<script>
  document.querySelector('#settings').classList.add("bg-white");
  document.querySelector('#settings').classList.add("text-[#4A003E]");
</script>
{% endblock %}
