{% extends "admin_base.html" %} 
{% load static %}

{% block title %} Management {% endblock %}

{% block content %}
<div class="p-4 flex flex-col flex-wrap gap-4 rounded border-2 border-gray-400">
  <h1 class="text-2xl text-gray-900 font-bold mb-2"><i class="bi bi-person"></i> Personal Information</h1>
  
  <div class="flex gap-2">
    <form class="flex-1 rounded border-2 border-gray-400" method="POST">
      {% csrf_token %}
      <div class="flex flex-col p-4 bg-white rounded-lg shadow">
        {{ user_form.as_p }}
        <button type="submit" name="update_info" class="self-end mt-6 px-4 py-2 bg-fuchsia-800 hover:bg-fuchsia-900 text-white rounded">Update Information</button>
      </div>
    </form>
  
    <form class="flex-1 rounded border-2 border-gray-400" method="POST">
      {% csrf_token %}
      <div class="flex flex-col p-4 bg-white rounded-lg shadow">
        <h3 class="text-lg font-bold mb-2">Update Password</h3>
        {{ password_form.as_p }}
        <button type="submit" name="update_password" class="self-end mt-6 px-4 py-2 bg-fuchsia-800 hover:bg-fuchsia-900 text-white rounded">Update Password</button>
      </div>
    </form>
  </div>
 
</div>

<div class="p-4 mt-8 flex flex-col flex-wrap gap-4 rounded border-2 border-gray-400">
  <h1 class="text-2xl text-gray-900 font-bold mb-2"><i class="bi bi-people"></i> Staff</h1>
  
  <div>
    <table class="table-auto w-full border-collapse border border-purple-900">
      <thead>
        <tr class="bg-[#4A003E] text-white">
          <th class="border border-gray-300 px-4 py-2 text-left">Full Name</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Position</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Email</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Action</th>
        </tr>
      </thead>
      <tbody>
        {% if staffs %}
          {% for staff in staffs %}
            <!-- Example row -->
            <tr class="hover:bg-gray-100">
              <td class="border border-gray-300 px-4 py-2">{{ staff.first_name }} {{ staff.last_name }} {{ staff.id }}</td>
              <td class="border border-gray-300 px-4 py-2">
                {% if staff.is_superuser %}
                  Admin
                {% else %}
                  Staff
                {% endif %}
              </td>
              <td class="border border-gray-300 px-4 py-2">{{ staff.email }}</td>
              <td class="border border-gray-300 px-4 py-2">
                <a class="text-blue-700 underline underline-offset-4" href="{% url 'update_staff_account' staff.id %}">Update</a>
                <a class="text-red-700 underline underline-offset-4 ms-2" href="{% url 'remove_staff' staff.id %}">Remove</a>
              </td>
          </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="6">You don't have any staffs. href="{% url 'account_registration' %}">here</a></td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <a href="{% url 'account_registration' %}" class="self-end bg-fuchsia-800 hover:bg-fuchsia-900 text-white text-center w-40 mt-4 py-2 rounded">Add Staff</a>
</div>

<div class="p-4 mt-8 flex flex-col flex-wrap gap-4 rounded border-2 border-gray-400">
  <h1 class="text-2xl text-gray-900 font-bold mb-2"><i class="bi bi-border-all"></i> Spaces</h1>

  <div>
    <table class="table-auto w-full border-collapse border border-purple-900">
      <thead>
        <tr class="bg-[#4A003E] text-white">
          <th class="border border-gray-300 px-4 py-2 text-left">Name</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Type</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Seats</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Status</th>
          <!-- <th class="border border-gray-300 px-4 py-2 text-left">Vacants</th> -->
          <th class="border border-gray-300 px-4 py-2 text-left">Action</th>
        </tr>
      </thead>
      <tbody>
        {% if spaces %}
          {% for space in spaces %}
            <tr class="hover:bg-gray-100">
              <td class="border border-gray-300 px-4 py-2">{{ space.space_name }}</td>
              <td class="border border-gray-300 px-4 py-2">{{ space.space_type }}</td>
              <td class="border border-gray-300 px-4 py-2">{{ space.number_of_seats }}</td>
              <td class="border border-gray-300 px-4 py-2">{{ space.status }}</td>
              <!-- <td class="border border-gray-300 px-4 py-2">{{ space.vacant }}</td> -->
              <td class="border border-gray-300 px-4 py-2">
                <a class="text-blue-700 underline underline-offset-4" href="{% url 'update_space_information' space.id %}">Update</a>
                <a class="text-red-700 underline underline-offset-4 ms-2" href="{% url 'remove_space' space.id %}">Remove</a>
              </td>
            </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td class="text-center" colspan="6">You don't have any spaces. Add <a href="{% url 'add_new_space' %}">here</a></td>
            </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <a href="{% url 'add_new_space' %}" class="self-end bg-fuchsia-800 hover:bg-fuchsia-900 text-white text-center w-40 mt-4 py-2 rounded">Add Space</a>
</div>


<!-- <div class="p-4 mt-8 flex flex-col flex-wrap gap-4 rounded border-2 border-gray-400">
  <h1 class="text-2xl text-gray-900 font-bold mb-2"><i class="bi bi-person-check"></i> Users</h1>

  <div>
    <table class="table-auto w-full border-collapse border border-purple-900">
      <thead>
        <tr class="bg-[#4A003E] text-white">
          <th class="border border-gray-300 px-4 py-2 text-left">Name</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Email</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Seats</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Status</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Vacants</th>
          <th class="border border-gray-300 px-4 py-2 text-left">Action</th>
        </tr>
      </thead>
      <tbody>
        {% if user %}
          {% for user in users %}
            <tr class="hover:bg-gray-100">
              <td class="border border-gray-300 px-4 py-2">{{ user.first_name }} {{ user.last_name }}</td>
              <td class="border border-gray-300 px-4 py-2">{{ user.email }}</td>
              <td class="border border-gray-300 px-4 py-2">
                {% if user.is_active %}
                <span class="text-green-800">Active</span>
                {% else %}
                <span class="text-red-600">Inactive</span>
                {% endif %}
              </td>
              <td class="border border-gray-300 px-4 py-2">
                <a class="text-red-700 underline underline-offset-4 ms-2" href="">Remove</a>
              </td>
            </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td class="text-center" colspan="6">You don't have any spaces. Add <a href="{% url 'add_new_space' %}">here</a></td>
            </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <a href="{% url 'add_new_space' %}" class="self-end bg-fuchsia-800 hover:bg-fuchsia-900 text-white text-center w-40 mt-4 py-2 rounded">Add Space</a>
</div> -->

<script>
  document.querySelector('#settings').classList.add("bg-white");
  document.querySelector('#settings').classList.add("text-[#4A003E]");
</script>
{% endblock %}
