{% extends 'reservation_base.html' %}
{% load static %}

{% block local_css %}
  <link rel="stylesheet" href="{% static 'css/reservation_base.css' %}">
{% endblock %}


{% block title %} Home {% endblock %}

{% block content %} 

<section id="menu" class="flex justify-center items-center text-center text-[#FFFFFF] fade-in">
    <div class="section-content mx-auto p-4 flex w-full">
        <!-- Left Section with Separate Containers -->
        <div class="flex-1 p-8">
            <!-- Container for Gray Rectangle -->
            <div class="gray-rectangle-container flex items-center justify-center mb-2">
                <div class="" id="calendar"></div>
            </div>
            <div class="purple-rectangle-container flex gap-8 mt-12">
                <div class="small-rectangle w-[350px] h-[142px] bg-[#4a003e] flex flex-1 justify-between items-center py-4 px-6 rounded-md">
                    <div class="">
                        <p class="text-[24px]">Your Reservations</p>
                        
                        <a class="text-[12px] text-start underline underline-offset-4 block mt-4" href="{% url 'reservation_list' %}">View</a>
                    </div>
            
                    <p class="text-5xl font-bold">10</p>
                </div>

                <div class="small-rectangle w-[350px] h-[142px] bg-[#4a003e] flex flex-1 justify-between items-center py-4 px-6 rounded-md">
                    <div class="">
                        <p class="text-[24px]">Transactions</p>
                        
                        <a class="text-[12px] text-start underline underline-offset-4 block mt-4" href="{% url 'reservation_transcation' %}">View</a>
                      </div>
            
                      <p class="text-5xl font-bold">10</p>
                </div>
            </div>
        </div>
        
        <div class="flex-1">
            <div class="min-h-[700px] overflow-y-auto p-4 w-full border-2 border-slate-300 relative rounded-md">
                <table class="w-full text-white text-sm table-auto">
                    <thead>
                        <tr class="bg-[#4A003E] text-white">
                            <th class="border border-gray-300 px-4 py-2 text-start">Name</th>
                            <th class="border border-gray-300 px-4 py-2 text-start">Type</th>
                            <th class="border border-gray-300 px-4 py-2 text-start">Seats</th>
                            <th class="border border-gray-300 px-4 py-2 text-start">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if spaces %}
                            {% for space in spaces %}
                                <tr class="text-black hover:bg-gray-100">
                                    <td class="border border-gray-300 px-4 py-2 text-start">[{{ space.id }}] {{ space.space_name }}</td>
                                    <td class="border border-gray-300 px-4 py-2 text-start">{{ space.space_type }}</td>
                                    <td class="border border-gray-300 px-4 py-2 text-start">{{ space.number_of_seats }}</td>
                                    <td class="border border-gray-300 px-4 py-2 text-start">{{ space.status }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                            <td class="text-center" colspan="6">You don't have any spaces. Add <a href="{% url 'add_new_space' %}">here</a></td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script>
    // Initialize Flatpickr as a permanently visible calendar
    flatpickr("#calendar", {
        inline: true, // Makes the calendar always visible
        enableTime: true, // Disable time selection
        dateFormat: "d/m/Y", // Custom date format
        onChange: function(selectedDates, dateStr) {
          alert("Selected date: " + dateStr);
        },
      });
</script>
{% endblock %}
