{% extends 'reservation_base.html' %}

{% block title %} Transaction History {% endblock %}

{% block content %} 

<section id="menu" class="min-h-96 flex flex-col items-start justify-start text-[#FFFFFF] fade-in">
    <!-- Orange Transactions Text at the Top Left -->
    <div>
        <h1 class="text-black text-2xl font-bold ms-4 md:ms-14">
            <a href="{% url 'reservation_home' %}" class="text-black"><i class="bi bi-arrow-left-circle"></i></a> Transactions
        </h1>
    </div>

    <!-- Purple Table in the Center -->
    <div class="min-h-96 min-w-2xl md:w-full border-2 flex justify-center items-start overflow-x-auto px-2 md:px-12 py-8">
        <table class="min-w-2xl md:w-full text-white text-sm table-auto mx-4overflow-x-auto">
            <thead>
                <tr class="bg-[#4A003E] text-white">
                    <th class="border border-gray-300 px-4 py-2 text-start">Space</th>
                    <th class="border border-gray-300 px-4 py-2 text-start">Status</th>
                    <th class="border border-gray-300 px-4 py-2 text-start">Date</th>
                    <th class="border border-gray-300 px-4 py-2 text-start">Time In</th>
                    <th class="border border-gray-300 px-4 py-2 text-start">Time Out</th>
                    <!-- <th class="border border-gray-300 px-4 py-2 text-start">Total Time</th> -->
                </tr>
            </thead>
            <tbody>
                {% if transactions %}
                    {% for transaction in transactions %}
                        <tr class="text-black hover:bg-gray-100">
                            <td class="border border-gray-300 px-4 py-2 text-start">{{ transaction.reservation.space }}</td>
                            <td class="border border-gray-300 px-4 py-2 text-start">{{ transaction.reservation.status }}</td>
                            <td class="border border-gray-300 px-4 py-2 text-start">{{ transaction.reservation.reservation_date }}</td>
                            <td class="border border-gray-300 px-4 py-2 text-start">{{ transaction.reservation.reservation_start_time }}</td>
                            <td class="border border-gray-300 px-4 py-2 text-start">{{ transaction.reservation.reservation_end_time }}</td>
                            <!-- <td class="border border-gray-300 px-4 py-2 text-start">
                                {% if item.total_time %}
                                    {{ item.total_time|time:"%H:%M:%S" }}
                                {% else %}
                                    Not Available
                                {% endif %}
                            </td> -->
                        </tr>
                    {% endfor %}
                {% else %}
                <tr class="text-black hover:bg-gray-100">
                    <td class="border border-gray-300 px-4 py-2 text-start", colspan="5">You don't have any transactions. Book a reservation now.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}
