{% extends 'reservation_base.html' %}

{% block title %} Reservations {% endblock %}

{% block content %} 

<section id="menu" class="min-h-dvh flex text-center text-[#FFFFFF] fade-in">
    <div class="section-content flex flex-col mx-20 p-4 mt-8 w-full gap-4">
        <!-- Dynamically Generated Rectangles -->
        <div class="small-rectangle w-[400px] h-[150px] bg-[#4a003e] rounded-md"></div>

        <a href="{% url 'reservation_home' %}" class="self-end mt-auto bg-gray-600 hover:bg-slate-800 text-white text-center mt-4 py-2 px-8 rounded">Back</a>
    </div>
</section>

{% endblock %}
