{% extends 'reservation_base.html' %}

{% block title %} Reserve Space {% endblock %}

{% block content %} 

<section id="" class="min-h-dvh flex justify-center items-start lg:items-center  fade-in">
    <div class="w-full md:3/4 lg:w-2/4 flex flex-col gap-2 border-2 border-gray-400 rounded-md p-8">
        <h1 class="text-2xl text-gray-900 font-bold mb-2"><i class="bi bi-person"></i> 
            {% if reservation %}
                Updated Reservation
            {% else %}
                Reservation Form for {{ space.space_name }} ({{ space.space_type }})
            {% endif %}
        
        </h1>
        <form class="flex-1 rounded" action="{% if reservation %}{% url 'update_reserve_space' space.id reservation.reservation_id %}{% else %}{% url 'reserve_space' space.id %}{% endif %}" method="POST">
            {% csrf_token %}
            <div class="flex flex-col p-4 bg-white rounded-lg shadow">
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="my-3 block w-full px-3 py-2 bg-gray-200 text-black rounded-md" value="{{ user.first_name }} {{ user.last_name }}" readonly>
                </div>

                <div>
                    <label for="name">Space</label>
                    <input type="text" id="name" name="space" class="my-3 block w-full px-3 py-2 bg-gray-200 text-black rounded-md" readonly value="{{ space.space_name }} ({{ space.space_type }})" readonly>
                </div>
                
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" class="my-3 block w-full px-3 py-2 bg-gray-200 text-black rounded-md" value="{{ user.email }}" readonly>
                </div>

                {% if reservation %}
                    <div class="bg-green-400 my-4 mx-6 p-4 rounded-md">
                        <h1 class="font-bold">Your Current Reservation Time and Date</h1>
                        <p class="mt-2">Date: {{ reservation.reservation_date }}</p>
                        <p>Start Time: {{ reservation.reservation_start_time }}</p>
                        <p>Checkout Time: {{ reservation.reservation_end_time }}</p>
                    </div>
                {% endif %}
                
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4">
                    <div>
                        <label for="date">Date:</label>
                        <input type="date" id="checkin_date" name="checkin_date" 
                            class="my-3 block w-full px-3 py-2 bg-gray-200 text-black rounded-md" 
                            min="{{ date_today }}" value="{{ reservation.reservation_date }}" required>        
                    </div>
                    <div>
                        <label for="time">Check In Time:</label>
                        <input type="time" id="start_time" name="start_time" 
                            class="my-3 block w-full px-3 py-2 bg-gray-200 text-black rounded-md" 
                            value="{{ reservation.reservation_start_time }}" 
                            min="08:00" max="20:00" required>
                    </div>

                    <div>
                        <label for="time">Checkout Time:</label>
                        <input type="time" id="end_time" name="end_time" 
                            class="my-3 block w-full px-3 py-2 bg-gray-200 text-black rounded-md" 
                            value="{{ reservation.reservation_end_time }}"
                            min="09:00" max="22:00">
                    </div>
                </div>
                
                <div class="flex gap-2 justify-end">
                    
                    <button type="submit" name="reservation_info" class="self-end mt-6 px-4 py-2 bg-fuchsia-800 hover:bg-fuchsia-900 text-white rounded">
                        {% if reservation %}
                            Update
                        {% else %}
                            Reserve
                        {% endif %}
                    </button>

                    <a href="{% url 'reservation_home' %}" class="self-end mt-6 px-4 py-2 bg-slate-400 hover:bg-slate-500 text-black rounded">Cancel</a>
                </div>
            </div>
        </form>
  </div>
</section>

{% endblock %}
