{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block local_css %} {% endblock %}
    <title> {% block title %} {% endblock %}</title>
</head>

<body class="bg-[#1e1c1f] overflow-x-hidden">

    <nav class="bg-[#4a003e] px-4 py-6 sticky top-0 z-10">
        <div class="flex justify-between items-center text-black">
            <!-- Left Section: Placeholder and Welcome, User -->
            <div class="flex items-center space-x-4">
                <!-- Gray Placeholder -->
                <div class="bg-gray-400 h-16 w-16 rounded-md"></div>
                <span class="text-[#F7E7CE] text-lg">Welcome, User</span>
            </div>

            <!-- Right Section: Logout Button -->
            <div>
                <a href="{% url 'landing_page' %}"
                    class="bg-[#310029] text-[#FFFFFF] text-lg px-6 py-3 hover:bg-[#F7E7CE] hover:text-[#4a003e] transition-colors rounded-full">
                    Log Out
                </a>
            </div>

        </div>
    </nav>

    {% block content %}
    {% endblock %}

    {% block local_script %} {% endblock %}

    {% load sweetify %}
    {% sweetify %}

    <footer class="bg-[#000000] text-[#F7E7CE] text-center py-4">
        <p>&copy; 2048 Studiare. All rights reserved.</p>
    </footer>
</body>

</html>