{% extends 'staff_base.html' %}
{% load static %}

{% block local_css %}
  <link rel="stylesheet" href="{% static 'css/staff_dashboard.css' %}">
{% endblock %}

{% block title %}Staff Reservations{% endblock %}

{% block content %}
<div class="grid grid-cols-2 gap-4 h-full">

    <div class="col-span-2 p-4 w-full">
        <table class="table-auto w-full border-collapse border border-purple-900">
            <thead>
              <tr class="bg-[#4A003E] text-white">
                <th class="border border-gray-300 px-4 py-2 text-left">Guest</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Space</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Check In</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Check Out</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Status</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Action</th>
              </tr>
            </thead>
            <tbody>
              {% if reservations %}
                {% for reservation in reservations %}
                  <tr class="hover:bg-gray-100">
                    <td class="border border-gray-300 px-4 py-2">{{ reservation.user.firstname }} {{ reservation.user.lastname }}</td>
                    <td class="border border-gray-300 px-4 py-2">{{ reservation.space.id }}</td>
                    <td class="border border-gray-300 px-4 py-2">{{ reservation.reservation_start_time }}</td>
                    <td class="border border-gray-300 px-4 py-2">{{ reservation.reservation_end_time }}</td>
                    <td class="border border-gray-300 px-4 py-2">{{ reservation.status }}</td>
                      <td class="border border-gray-300 px-4 py-2">
                          {% if reservation.status == 'Pending' %}
                              <a class="text-blue-700 underline underline-offset-4" href="{% url 'update_reservation' 'CONFIRM' reservation.reservation_id %}"><i class="bi bi-check2"></i> Accept</a>
                              <a class="text-red-700 underline underline-offset-4 ms-2" href="{% url 'update_reservation' 'DECLINED' reservation.reservation_id %}"><i class="bi bi-x"></i> Decline</a>
                          {% elif reservation.status == 'Completed' %}
                              <p>Paid</p>
                          {% else %}
                              <a class="text-gray-700 underline underline-offset-4" href="{% url 'update_reservation' 'UNDO' reservation.reservation_id %}"><i class="bi bi-arrow-counterclockwise"></i> Revert Action</a>
                              <a class="text-green-700 underline underline-offset-4 ms-2" href="{% url 'update_reservation' 'UNDO' reservation.reservation_id %}"><i class="bi bi-clock"></i> Check In</a>
                          {% endif %}
                      </td>
                  </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td class="text-center" colspan="7">No reservations for now.</td>
                  </tr>
              {% endif %}
            </tbody>
          </table>
    </div>
</div>

{% endblock %}


{% block local_js %} 
<script>
    document.querySelector('#reservations').classList.add("bg-white");
    document.querySelector('#reservations').classList.add("text-[#4A003E]");

    flatpickr("#calendar", {
        inline: true, // Makes the calendar always visible
        enableTime: false, // Disable time selection
        dateFormat: "d/m/Y", // Custom date format
        minDate: 'today',
        onChange: function(selectedDates, dateStr) {
          alert("Selected date: " + dateStr);
        },
      });
</script>

{% endblock %}