{% extends 'staff_base.html' %}
{% load static %}


{% block local_css %}
  <link rel="stylesheet" href="{% static 'css/staff_dashboard.css' %}">
{% endblock %}

{% block title %}Staff Reservations{% endblock %}

{% block content %}
<div class="grid grid-cols-2 gap-4 h-full">

    <div class="col-span-2 p-4 w-full">
        <table class="table-auto w-full border-collapse border border-purple-900">
            <thead>
              <tr class="bg-[#4A003E] text-white">
                <th class="border border-gray-300 px-4 py-2 text-left">Guest</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Space</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Check In</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Check Out</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Status</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Action</th>
              </tr>
            </thead>
            <tbody>
                  <tr class="hover:bg-gray-100">
                    <td class="border border-gray-300 px-4 py-2"></td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                  </tr>
            </tbody>
          </table>
    </div>
</div>

{% endblock %}


{% block local_js %} 
<script>
    document.querySelector('#reservations').classList.add("bg-white");
    document.querySelector('#reservations').classList.add("text-[#4A003E]");

    flatpickr("#calendar", {
        inline: true, // Makes the calendar always visible
        enableTime: false, // Disable time selection
        dateFormat: "d/m/Y", // Custom date format
        minDate: 'today',
        onChange: function(selectedDates, dateStr) {
          alert("Selected date: " + dateStr);
        },
      });
</script>

{% endblock %}