{% extends 'staff_base.html' %}
{% load static %}


{% block local_css %}
  <link rel="stylesheet" href="{% static 'css/staff_dashboard.css' %}">
{% endblock %}

{% block title %}Staff Dashboard{% endblock %}

{% block content %}
<div class="grid grid-cols-2 gap-4 h-full">
    <div class="p-4 flex flex-col items-start gap-2">
      <p class="text-start text-2xl text-[#4A003E] font-bold">Today's Date</p>
        <div class="" id="calendar"></div>
    </div>

    <div class="flex flex-col gap-4 py-16">
        <div class="w-3/4 h-[50px] flex flex-1 justify-between items-center py-4 px-6 bg-[#4A003E] text-white rounded">
            <div class="">
              <p class="text-[24px]">Sales Today</p>
            </div>
    
            <p class="text-[32px] font-bold">&#x20B1; {{ today_sales }}</p>
        </div>

        <div class="w-3/4 h-[50px] flex flex-1 justify-between items-center py-4 px-6 bg-[#4A003E] text-white rounded">
            <div class="">
              <p class="text-[24px]">Reservations</p>
              <a class="text-[12px] underline underline-offset-4" href="{% url 'staff_reservations' %}">View</a>
            </div>
    
            <p class="text-[32px] font-bold">{{ reservations }}</p>
        </div>
        <!-- <div class="w-3/4 h-[50px] flex flex-1 justify-between items-center py-4 px-6 bg-[#4A003E] text-white rounded">
            <div class="">
              <p class="text-[24px]">Reservations</p>
              <a class="text-[12px] underline underline-offset-4" href="{% url 'staff_spaces' %}">View</a>
            </div>
    
            <p class="text-[32px] font-bold">{{ reservations }}</p>
        </div> -->
    </div>

    <div class="col-span-2 p-4 w-full">
        <table class="table-auto w-full border-collapse border border-purple-900">
            <thead>
              <tr class="bg-[#4A003E] text-white">
                <th class="border border-gray-300 px-4 py-2 text-left">Space</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Seats</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Vacants</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Status</th>
              </tr>
            </thead>
            <tbody>
              <tbody>
                {% if spaces %}
                  {% for space in spaces %}
                    <tr class="hover:bg-gray-100">
                      <td class="border border-gray-300 px-4 py-2">{{ space.space_name }}</td>
                      <td class="border border-gray-300 px-4 py-2">{{ space.number_of_seats }}</td>
                      <td class="border border-gray-300 px-4 py-2">{{ space.vacant }}</td>
                      <td class="border border-gray-300 px-4 py-2">{{ space.status }}</td>
                    </tr>
                  {% endfor %}
                {% endif %}
            </table>
            </tbody>
          </table>
    </div>

</div>

{% endblock %}

{% block local_js %} 
<script>
    document.querySelector('#dashboard').classList.add("bg-white");
    document.querySelector('#dashboard').classList.add("text-[#4A003E]");

    flatpickr("#calendar", {
        inline: true, // Makes the calendar always visible
        enableTime: false, // Disable time selection
        dateFormat: "d/m/Y", // Custom date format
        minDate: 'today',
      });

</script>

{% endblock %}