/* Resetting body and html */
html, body {
    height: 100%;
    margin: 0;
}

/* Flex container to ensure footer placement */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main content grows to fill available space */
.main-content {
    flex: 1;
}

/* Footer styles */
footer {
    flex-shrink: 0;
    background-color: #4a003e;
    color: #f7e7ce;
    text-align: center;
    padding: 1rem;
}

/* Flatpickr styles */
.flatpickr-calendar {
    width: 100%;
}

.flatpickr-rContainer {
    width: 100%;
}

.flatpickr-days {
    all: unset;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.flatpickr-day.today {
    background-color: #4a003e;
    color: white;
}

.flatpickr-day.flatpickr-disabled {
    color: rgb(115, 115, 115);
}

.dayContainer {
    all: unset;
    width: inherit;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    align-items: center;
    justify-items: center;
}

.flatpickr-day {
    width: 100%;
    text-align: center;
}

.flatpickr-prev-month,
.flatpickr-next-month {
    font-size: 18px;
}
