{% extends "base_overview.html" %}
{% load static %}

{% block title %}
Studiare - About Us
{% endblock %}

{% block content %}
<section 
    id="about-us" 
    class="min-h-screen flex items-center bg-cover bg-left text-white px-4"
    style="background-image: url('{% static 'images/about_us.jpg' %}');">
    <div class="section-content max-w-[1300px] p-4">
        <!-- Text content -->
        <h2 class="text-6xl font-bold mb-6 text-left">About Us</h2>
        <p class="text-2xl mb-6 text-left">
            Welcome to <strong>Studiare</strong>, your go-to hub for productive and focused study sessions. 
            At Studiare, we understand the importance of having a conducive environment for learning, 
            whether you're preparing for exams, working on a project, or simply seeking a quiet space to focus. 
        </p>
        <p class="text-2xl mb-6 text-left">
            Our innovative platform allows you to book study spaces or slots on an hourly basis, giving you 
            flexibility and affordability. Designed with comfort and functionality in mind, our spaces 
            are equipped with everything you need to achieve your goals, including high-speed internet, 
            ergonomic seating, and distraction-free zones.
        </p>
        <p class="text-2xl text-left">
            Join us at Studiare and experience a new way to study, collaborate, and grow. Whether you're a student, 
            professional, or lifelong learner, we're here to help you make the most of your time. 
            Let's create success—one focused hour at a time!
        </p>
    </div>
</section>
{% endblock %}
