{% extends "admin_base.html" %} 
{% load static %}

{% block title %} Staff {% endblock %}

{% block content %}
<div class="p-4 flex flex-wrap gap-4">
  <div class="w-[400px] h-[125px] flex justify-between items-center p-4 bg-[#4A003E] text-white rounded">
    <div>
      <p class="text-[14px]">Position</p>
      <p class="text-[24px] font-bold">Staff Name</p>
      <p class="text-[12px] italic">Status (rest/duty)</p>
    </div>
    <button class="text-[14px] underline">Update</button>
  </div>
  <div class="w-[400px] h-[125px] flex justify-between items-center p-4 bg-[#4A003E] text-white rounded">
    <div>
      <p class="text-[14px]">Position</p>
      <p class="text-[24px] font-bold">Staff Name</p>
      <p class="text-[12px] italic">Status (rest/duty)</p>
    </div>
    <button class="text-[14px] underline">Update</button>
  </div>
  <div class="w-[400px] h-[125px] flex justify-between items-center p-4 bg-[#4A003E] text-white rounded">
    <div>
      <p class="text-[14px]">Position</p>
      <p class="text-[24px] font-bold">Staff Name</p>
      <p class="text-[12px] italic">Status (rest/duty)</p>
    </div>
    <button class="text-[14px] underline">Update</button>
  </div>
  <div class="w-[400px] h-[125px] flex justify-between items-center p-4 bg-[#4A003E] text-white rounded">
    <div>
      <p class="text-[14px]">Position</p>
      <p class="text-[24px] font-bold">Staff Name</p>
      <p class="text-[12px] italic">Status (rest/duty)</p>
    </div>
    <button class="text-[14px] underline">Update</button>
  </div>
  <div class="w-[400px] h-[125px] flex justify-between items-center p-4 bg-[#4A003E] text-white rounded">
    <div>
      <p class="text-[14px]">Position</p>
      <p class="text-[24px] font-bold">Staff Name</p>
      <p class="text-[12px] italic">Status (rest/duty)</p>
    </div>
    <button class="text-[14px] underline">Update</button>
  </div>
</div>
{% endblock %}
